<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico">
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="/css/body.css" rel="stylesheet" type="text/css">
    <script src="/js/script.js"></script>
    <title>NIJI Sublimación</title>
    <%- include("../partials/head") %>
    
</head>
    <body>

        <% if(registroMensaje){  %>
            <div>
                <%= registroMensaje %>
            </div>
        <% } %>
        

        <% if(loginMensaje){  %>
            <div>
                <%= loginMensaje %>
            </div>
        <% } %>
        
        
        <%- body %>
        

        <%- include("../partials/footer") %>
    </body>

    
</html>